{% extends "index.html" %}
{% block body %}
<br>
<br>
<h1>Let's Be Buds!</h1>
<form action="/submit_new_friend" method="POST">
  <p>
    <label for="name">Name</label><br>
    <input type="text" size="60" name="name">
  </p>
  <p>
    <label for="website">Email</label><br>
    <input type="text" size="60" name="email">
  </p>
  <p>
    <label for="email">Website</label><br>
    <input type="text" size="60" name="website">
  </p>
  <p>
    <label for="about">About</label><br>
    <textarea name="about" rows=3 cols=58></textarea>
  </p>
    <button type="submit" class="btn">High Five!</button>
  </p>
</form>

{% endblock %}
