{% extends "index.html" %}
{% block body %}

<!-- {% for id, name in pb1 %}
<div id="newest">Our Friends: {{name}}
{% endfor %} -->

<div id="add"><h1>Are you rad? <a href="new_friend">Be our friend!</a></h1></div>
<br>
<br>
<!-- <div id="latest"><h1>Our newest buds are: <a href="new_friend"></a></h1>
<ul id="frienz">
	{% for id, name,about in friend_list %}
	<li><img src="static/img/aw3.png" width="100"><br><a href="/update_friend?id={{id}}">{{name}}</a>
	<br><div id="aboutt"> {{about}}</div></li>
	{% endfor %}
</ul>
</div> -->

{% endblock %}